{{! =========================== }}
{{! siren-assigned.hbs }}
{{! =========================== }}

<h2 style="margin:0 0 8px">¡Te han asignado una nueva sirena!</h2>

<p>Hola {{name}},</p>

<p>Te informamos que el administrador ha asignado la sirena con el nombre <strong>{{deviceId}}</strong> a tu cuenta en <b>SirenaStationLink</b>.</p>

<p>Ya puedes controlarla desde la aplicación.</p>

{{> button href=appUrl text="Ir a la aplicación"}}